<!DOCTYPE html>
<html lang="es">

<!-- Include Head -->
<%- include('partials/head', {estilo: 'style' , titulo:'Home'} ) %>

    <body>

        <%- include('./partials/headNavBar', {title: 'nav' }) %>

            <section id="body">
                <main>
                    <%- include('./partials/banner') %>

                        <div>
                            <a class="submit-btn" href="/products/create">Agregar Producto</a>

                        </div>
                        <section>
                            <div class="cont-titulo">
                                <h2 class="">Ofertas</h2>
                            </div>

                        <section id="vistaprod">
                            <% productos.forEach(producto => { %>
                                    <div class="prod">
                                        <a href="/products/detail/<%= producto.id%>">
                                            <img class="img-produto" src="/img/imgProducto/<%= producto.image %>"
                                                alt="imagen de producto">
                                        </a>
                                        <p>
                                            <i id="imgEnvio" class="fa-solid fa-truck"></i>
                                        </p>
                                        <a href="/products/detail/<%= producto.id%>">

                                       <h3><%= producto.nombreProd %></h3>
                                        </a>

                                        <div class="info-prod">
                                            <p><%= producto.autor %></p>
                                            
                                            <p class="precio-txt"><%= productos.precio %></p>
                                            <span><%= producto.descuento %> % OFF</span>

                                        </div>
                                        <a class="submit-btn" href="/products/edit/<%= producto.id %>">Editar Producto</a>
                                        <a href="/products/delete/<%= producto.id %>" class="btn-delete"
                                            onclick="return confirm('¿Estás seguro de que quieres eliminar este producto?')">Eliminar
                                            Producto <i class="fas fa-trash"></i></a>
                                    </div>
                                    <% }) %>
                        </section>

                        <section>
                            <div class="cont-titulo">
                                <h2 class="">Ingresos</h2>
                            </div>
                            <section id="vistaprod">
                                <% productos.forEach(producto=> { %>

                                    <div class="prod">

                                        <a href="/products/detail/<%= producto.id%>">
                                            <img class="img-produto" src="/img/imgProducto/<%= producto.image %>"
                                                alt="imagen de producto">
                                        </a>
                                        <p>
                                            <i id="imgEnvio" class="fa-solid fa-truck"></i>
                                        </p>
                                        <a href="/products/detail/<%= producto.id%>">

                                            <h3>
                                                <%= producto.nombreProd %>
                                            </h3>
                                        </a>

                                        <div class="info-prod">
                                            <p class="">
                                                <%= producto.autor %>
                                            </p>
                                            <p class="precio-txt">
                                                <%= producto.precio%>
                                            </p>
                                            <span>
                                                <%= producto.descuento %> % OFF
                                            </span>

                                        </div>
                                        <a class="submit-btn" href="products/edit/<%= producto.id%>">Editar Producto</a>
                                        <a href="/products/delete/<%= producto.id %>" class="btn-delete"
                                            onclick="return confirm('¿Estás seguro de que quieres eliminar este producto?')">Eliminar
                                            Producto <i class="fas fa-trash"></i></a>
                                    </div>

                                    <% }) %>
                            </section>
                        </section>

                </main>

                </h1>
                </div>
            </section>
            <%- include('./partials/footer') %>
    </body>

</html>