<!DOCTYPE html>
<html lang="es">

<!-- Include Head -->
<%- include('partials/head', {title: 'Inicio' }) %>
    <link rel="stylesheet" href="css/style.css">

    <body>

        <%- include('partials/headNavBar', {title: 'nav' }) %>

            <section id="body">
                <main class="container">
                    <div class="carrusel">

                        <img class="item" src="/img/imgProducto/BANNER3.jpg" alt="Imagen 1">

                        <img class="item" src="img/imgProducto/img.jpg" alt="Imagen 2">

                        <img class="item" src="/img/imgProducto/carrucel-3.jpg" alt="Imagen 3">

                        <img class="item" src="/img/imgProducto/carrucel-4.jpg" alt="Imagen 4">

                        <img class="item" src="/img/imgProducto/carrucel-5.jpg" alt="Imagen 5">

                    </div>
                    </div>

                    <section>
                        <div class="cont-titulo">
                            <h2 class="">Ofertas</h2>
                        </div>

                        <section id="vistaprod">

                        <% oferta.forEach(product=> { %>
                            

                                <a href="/products/detail/<%= product.id %>">
                                    <div class="prod">
                                        <img src="/img/imgProducto/<%= product.image %>" alt="imagen de producto">

                                        <p>
                                            <i id="imgEnvio" class="fa-solid fa-truck"></i>
                                        </p>
                                        <h3>
                                            <%= product.name %>
                                        </h3>

                                        <div class="info-prod">
                                            <p class="">
                                                <%= product.autor %>
                                            </p>
                                            <p class="precio-txt">
                                                <%= product.price %>
                                            </p>
                                            <span>
                                                <%= product.discount %> % OFF
                                            </span>

                                        </div>


                                        <p></p>
                                    </div>
                                </a>
                          
                            <% }) %>
                        </section>
                    </section>

                    <section>
                        <div class="cont-titulo">
                            <h2 class="">Ingresos</h2>
                        </div>


                        <section id="vistaprod">
                        <% nuevo.forEach(product=> { %>
                           

                                <a href="/products/detail/<%= product.id %>">
                                    <div class="prod">
                                        <img src="/img/imgProducto/<%= product.image %>" alt="imagen de producto">

                                        <p>
                                            <i id="imgEnvio" class="fa-solid fa-truck"></i>
                                        </p>
                                        <h3>
                                            <%= product.name %>
                                        </h3>

                                        <div class="info-prod">
                                            <p class="">
                                                <%= product.autor %>
                                            </p>
                                            <p class="precio-txt">
                                                <%= product.price %>
                                            </p>
                                            <span>
                                                <%= product.discount %> % OFF
                                            </span>

                                        </div>


                                        <p></p>
                                    </div>
                                </a>
                            
                            <% }) %>
                        </section>
                    </section>

                </main>

                </h1>
                </div>
            </section>
            <%- include('./partials/footer') %>



    </body>

</html>