<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('../partials/head', {estilo: 'loginStyle' , titulo:'Login'}) %>
<body>
    <!-- Header -->
    <%- include('../partials/headNavBar', {title: 'nav' }) %>
    <!-- /Header -->

    <conteiner>
        <div class="caja">
            <div class="titulo">
                <div class="col-12">
                    <h2 class="products-title">Pagina de perfil</h2>
                </div>
            </div>
            <div class="product-detail">
                <div class="info">
                    <div class="col-12 col-lg-4">
                            <h1>El usuario que inició sesión es: <%= userLogged.userName %></h1>
                            <h2>Su mail corresponde a: <%= userLogged.email %></h2>
                            <a href="/users/logout">Cerrar sesion</a>
                    </div>
                </div>
            </div>
        </div>
    </conteiner>



    <!-- footer -->
    <%- include('../partials/footer') %>
    <!-- /footer -->

</body>
</html>