<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head.ejs' , {estilo:'formulario-style', titulo:'Editar producto'}) %>

<body>
	<!-- Header -->
	<%- include('partials/headNavBar', { title: 'nav', usuario: usuario }) %>
	<!-- /Header -->

<div class="container-form">
	<div class="caja-register">
		
		<form action="/products/edit/<%= producto.id %>?_method=PUT" method="POST" enctype="multipart/form-data"  >
			<span class="heading">Estás editando:<%= producto.nombreProd %></span>
			
			<div class="">
				<div class="form-group">
					<label for="nombreProd" class="form-label">Nombre del producto:</label>
					<input type="text" id="nombreProd" name="nombreProd" value="<%= producto.nombreProd %>" class="form-input">
				</div>
				<div class="form-group">
					<label for="autor" class="form-label">Autor del producto:</label>
					<input type="text" id="autor" name="autor" value="<%= producto.autor %>" class="form-input">
				</div>
				<div class="form-group">
					<label for="generos_idGenero" class="form-label">Genero:</label>
					<select name="generos_idGenero" id="generos_idGenero" class="form-input">
						<% Genero.forEach(genero => { %>
							<option value="<%= genero.idGenero %>"><%= genero.genero %></option>
						<% }); %>
					</select>
				</div>
				
				<div class="form-group">
					<label for="descripcion" class="form-label">Descipción:</label>
					<textarea name="descripcion" id="descripcion" class="form-input" placeholder="<%= producto.descripcion %>"></textarea>
				</div>

				<div class="form-group">
					<label for="precio" class="form-label">Precio del producto:</label>
					<input type="text" id="precio" name="precio" value="<%= producto.precio %>" class="form-input">
				</div>

				<div class="form-group">
					<label for="descuento" class="form-label">Descuento:</label>
					<input type="text" id="descuento" name="descuento" value="<%= producto.descuento %>" class="form-input">
				</div>
				<div class="form-group">
					<label for="stock" class="form-label">Stock:</label>
					<input type="text" id="stock" name="stock" value="<%= producto.stock %>" class="form-input">
				</div>
				<div class="form-group">
					<label for="image">Seleccione una imagen:</label>
					<input type="file" name="image" id="image" accept="image/*">
				</div>
				<div class="btn-submit ">
					<button type="submit" class="buy-now-button ">Actualizar producto</button>
				</div>
			</div>
		</form>
	</div>
</div>


	<!-- </div> -->
	
	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>	
</html>