<!DOCTYPE html>
<html lang="es">

<!-- Include Head -->
<%- include('partials/head', {estilo: 'productDetail-style' , titulo:'Detalle del producto'}) %>

    <body>
        <body>
            <%- include('partials/headNavBar', {title: 'nav' }) %>
                <section id="body">
                    <main class="container">
                        <div class="card">

                            <div>

                                <img src="/img/imgProducto/<%= product.image %>" alt="product image"
                                    class="producto-img">
                            </div>
                            <div class="caja-detalle">
                                <div>
                                    <h2>
                                        <%= product.name %>
                                    </h2>

                                    <h4>
                                        <%= product.autor %>
                                    </h4>
                                    <hr>
                                </div>

                                <div>


                                    <p class="product-detail-price small">
                                        <span>$<%= product.price %></span>
                                        /
                                        <b>
                                            <%= product.discount %>% OFF
                                        </b>
                                    </p>

                                    <p>
                                        <h3>
                                            $ <%= product.price - (product.price * product.discount)/100 %>
                                        </h3>
                                    <div class="cant-input">
                                        <label for="">Cantidad:</label>
                                        <input type="number">
                                    </div>

                                </div>
                                <hr>
                                <p>
                                    <%= product.description %>
                                </p>
                                <div class="carrito-btn">

                                    <button type="submit" class="submit-btn" hreft=""> <a href="/productCart">Agregar al
                                            Carrito</a></button>

                                </div>

                            </div>


                        </div>

                        </div>

                </section>


                <%- include('./partials/footer') %>
        </body>

</html>