<!DOCTYPE html>
<html lang="es">

<!-- Include Head -->
<%- include('partials/head', {estilo: 'searchStyle' , titulo:'Busqueda de producto'} ) %>

    <body>
        <%- include('partials/headNavBar', { title: 'nav', usuario: usuario }) %>

        <h1 class="cont-titulo">Resultados de la búsqueda para <%= query %></h1>


            <div class="container-search">
                <% if(encontrados.length> 0){%>
                    <% encontrados.forEach(producto=> {%>
                        <div class="card">

                            <div class="image">
                                <a href="/products/detail/<%= producto.id%>">
                                    <img class="imagenProd" src="/img/imgProducto/<%= producto.image %>"
                                        alt="imagen de producto">
                                </a>
                            </div>
                            <div class="title">
                                <span>
                                    <%= producto.nombreProd %>
                                </span>
                            </div>
                            <div class="txt-informacion">
                                <span>$<%= producto.precio %></span>
                            </div>
                            <div class="txt-informacion">
                                <span>
                                    <% if(producto.descuento> 0 ){ %>
                                        <%= producto.descuento %>% de descuento
                                            <% } %>
                                </span>
                            </div>
                            <div class="container-btn">
                                <a href="/products/detail/<%= producto.id%>" class="btn-detalle">
                                    <h3 class="">
                                        Ver detalle
                                    </h3>
                                </a>
                            </div>

                        </div>



                        <% }); %>
                        
                        <% } else { %>
                            <h1 class="cont-titulo">No se encontraron resultados para "<%= query %>"</h1>
                        <% } %>
            </div>




            <%- include('./partials/footer') %>
    </body>

</html>