<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head', {estilo: 'formulario-style' , titulo:'agregar Producto'} ) %>

<body>
	<!-- Header -->
	<%- include('partials/headNavBar', {title: 'nav' }) %>
	<!-- /Header -->

<div class="container-form">

		<div class="caja-register">
			
			<!-- enctype="multipart/form-data" -->
			<form action="/products/create" method="POST" enctype="multipart/form-data" class="form" >
				<span class="heading">Formulario para agregar productos</span>
				<div class="">
				
					<div class="form-group ">
						<label for="nombreProd" class="form-label">Nombre del producto:</label>
						<input type="text" id="nombreProd" name="nombreProd" placeholder="Ej: Evangelion Neon Genesis" class="form-input">
					</div>
					<div class="form-group">
						<label for="name" class="form-label">Autor del producto:</label>
						<input type="text" id="autor" name="autor" placeholder="Ej:AKIRA TORIYAMA" class="form-input">
					</div>
					<div class="form-group">
						<label for="generos_idGenero" class="form-label">Genero:</label>
						<select name="generos_idGenero" id="generos_idGenero" class="form-input">
					        <% Genero.forEach(genero => { %>
								<option value="<%= genero.idGenero %>"><%= genero.genero %></option>
							<% }); %>
						</select>
					</div>
					
					<div class="form-group">
						<label for="descripcion" class="form-label">Descipción:</label>
						<textarea name="descripcion" id="descripcion" class="form-input"></textarea>
					</div>

					<div class="form-group">
						<label for="precio" class="form-label">Precio del producto:</label>
						<input type="text" id="precio" name="precio" placeholder="Ej: 5678" class="form-input">
					</div>

					<div class="form-group">
						<label for="descuento" class="form-label">Descuento:</label>
						<input type="text" id="descuento" name="descuento" placeholder="Ej: 15" class="form-input">
					</div>
					<div class="form-group">
						<label for="stock" class="form-label">Stock:</label>
						<input type="text" id="stock" name="stock" placeholder="Ej: 15" class="form-input">
					</div>
					<div class="form-group">
						<label for="image" class="form-label">Seleccione una imagen:</label>
						<input type="file" name="image" id="image" >
					</div>
					<div class=" btn-submit">
						<button type="submit" class="buy-now-button">Guardar producto</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<!-- </div> -->
	<!-- /todos los productos -->

	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>	
</html>