<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<<<<<<< HEAD
<%- include('partials/head', {estilo: 'formulario-style' , titulo:'agregar Producto'} ) %>

=======
<%- include('partials/head', {estilo: 'formulario-style' , titulo:'Home'} ) %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
<link rel="stylesheet" href="/css/bootstrap-grid.min.css">
<link rel="stylesheet" href="/css/formulario-style.css">
>>>>>>> eb3abd9340e676eea8aaefe5a53409b155d8837e
<body>
	<!-- Header -->
	<%- include('partials/headNavBar', {title: 'nav' }) %>
	<!-- /Header -->

<div class="container-form">

<<<<<<< HEAD
		<div class="caja-register">
			
			<!-- enctype="multipart/form-data" -->
			<form action="/products/create" method="POST" enctype="multipart/form-data" class="form" >
				<span class="heading">Formulario para agregar productos</span>
				<div class="">
				
					<div class="form-group ">
						<label for="nombreProd" class="form-label">Nombre del producto:</label>
						<input type="text" id="nombreProd" name="nombreProd" placeholder="Ej: Evangelion Neon Genesis" class="form-input">
					</div>
					<div class="form-group">
						<label for="name" class="form-label">Autor del producto:</label>
						<input type="text" id="autor" name="autor" placeholder="Ej:AKIRA TORIYAMA" class="form-input">
					</div>
					<div class="form-group">
						<label for="generos_idGenero" class="form-label">Genero:</label>
						<select name="generos_idGenero" id="generos_idGenero" class="form-input">
					        <% Genero.forEach(genero => { %>
								<option value="<%= genero.idGenero %>"><%= genero.genero %></option>
							<% }); %>
						</select>
					</div>
					
					<div class="form-group">
						<label for="descripcion" class="form-label">Descipción:</label>
						<textarea name="descripcion" id="descripcion" class="form-input"></textarea>
					</div>

					<div class="form-group">
						<label for="precio" class="form-label">Precio del producto:</label>
						<input type="text" id="precio" name="precio" placeholder="Ej: 5678" class="form-input">
					</div>

					<div class="form-group">
						<label for="descuento" class="form-label">Descuento:</label>
						<input type="text" id="descuento" name="descuento" placeholder="Ej: 15" class="form-input">
					</div>
					<div class="form-group">
						<label for="stock" class="form-label">Stock:</label>
						<input type="text" id="stock" name="stock" placeholder="Ej: 15" class="form-input">
					</div>
					<div class="form-group">
						<label for="image" class="form-label">Seleccione una imagen:</label>
						<input type="file" name="image" id="image" >
					</div>
					<div class=" btn-submit">
=======
		<div class="caja-vista">
			<div class="titulo">
				<h2 class="products-title">Formulario de creación de productos</h2>
			</div>
			<form action="/products/create" method="POST">
				<div class="form">
					<div class="datos">
						<label for="name" class="form-label">Nombre del producto:</label>
						<input type="text" id="name" name="name" placeholder="Ej: Evangelion Neon Genesis" class="form-input">
						<label for="price" class="form-label">Precio del producto:</label>
						<input type="text" id="price" name="price" placeholder="Ej: 5678" class="form-input">
						<label for="discount" class="form-label">Descuento:</label>
						<input type="text" id="discount" name="discount" placeholder="Ej: 15" class="form-input">
						<label for="category" class="form-label">Categoría:</label>
						<select name="category" id="category" class="form-input">
							<option value="">Elegí</option>
							<option value="nuevo">nuevo</option>
							<option value="oferta">oferta</option>
						</select>
						<label for="description" class="form-label">Descipción:</label>
						<textarea name="description" id="description" class="form-input"></textarea>
					</div>
					<div class="boton">
>>>>>>> eb3abd9340e676eea8aaefe5a53409b155d8837e
						<button type="submit" class="buy-now-button">Guardar producto</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<!-- </div> -->
	<!-- /todos los productos -->

	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>	
</html>