<!DOCTYPE html>
<%- include('partials/head', {estilo: 'register-style' , titulo:'Registro de usuario'}) %>

<body>
    <%- include('partials/headNavBar', {title: 'nav' }) %>
  
    <section id="body" class="container">

        <div class="caja-register">
            <h2 class="title-style1"> Registro de nuevo usuario </h2>
            <form action="/users/editUser" method="post" class="form">
                <label for="nombre">Nombre y Apellido</label>
                <input type="text" name="nombre" id="nombre" value="<%= usuario.nombre%>">

                <label for="fechaNac">Fecha de nacimiento</label>
                <input type="date" name="fechaNac" id="fechaNac" value="<%= usuario.fechaNac %>">

                <label for="correo">Correo electronico</label>
                <input type="text" name="correo" id="email" placeholder="<%= usuario.correo %>" value="<%= usuario.Correo %>" disabled>

                <label for="password">Contraseña</label>
                <input type="password" name="password" id="password" placeholder="Ingrese una contraseña" >


                <div class="pie-form">
                    <button type="submit" class="submit-btn"> Actualizar</button>
                    <button type="reset" class="limpiar-btn">Limpiar</button>

                </div>


            </form>
            <a class="cancelar-btn" href="/"> Cancelar</a>


        </div>
    </section>
    <%- include('./partials/footer') %>
</body>


</html>