<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('../partials/head', { estilo: 'profileStyle', titulo: 'Perfil de usuario' }) %>

<body>
    <!-- Header -->
    <%- include('../partials/headNavBar', { title: 'nav' , usuario }) %>

    <!-- /Header -->

    <div class="container-perfil">
        <div class="card-perfil">
            <!-- <div class=""> -->
                <h1 class="">Perfil de usuario</h1>
                <div class="container-img">
                    <img class="img-usuario"
                        src="/img/imgUsuario/<%= usuario.fotoPerfil %>"
                        alt="Foto de perfil de usuario">
                 
                </div>

                <div class="info">
                    <h3>El usuario que inici贸 sesi贸n es: <%= usuario.nombre %></h3>
                    <h3>Su correo electr贸nico es:  <%= usuario.correo %></h3>
                    <h3>Su Fecha de nacimiento es:  <%= new Date(usuario.fechaNac).toLocaleDateString() %></h3>
                </div>

                <div class="container-btn">
                    <a class="submit-btn" href="/users/editUser/<%= usuario.id %>">Editar usuario</a>
                </div>

                <div class="container-link">
                    <form action="/users/logout" method="POST" class="nav-link">
                        <button type="submit" class="btn-link">Cerrar sesi贸n</button>
                    </form>
                </div>
                <div class="container-linkDanger">
                    <form id="deleteForm" class="container-btn" action="/users/delete/<%= usuario.id %>" method="POST">
                        <button type="submit" class="btn-linkDanger">
                            Eliminar Cuenta
                        </button>
                    </form>
                </div>
        </div>
    </div>

    <!-- footer -->
    <%- include('../partials/footer') %>
    <script src="/js/deleteUserValidate.js"> </script>

    <!-- /footer -->
</body>

</html>
